.vagrant
.vscode/
.history
截图/
build/
.cache/

*.o
*.pcap
*.zip
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.dll
*.dylib
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

foggytcp/*
!foggytcp/inc/
!foggytcp/setup/
!foggytcp/src/
!foggytcp/utils/
!foggytcp/Makefile
